---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav class="flex items-center justify-between px-16 py-4">
    <div class="flex items-center gap-8">
      <h3 class="font-bold mb-0"><a href="/">{SITE_TITLE}</a></h3>
      <HeaderLink href="/projects">Projects</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/tags">Tags</HeaderLink>
    </div>
    <div>
      <HeaderLink href="https://www.buymeacoffee.com/bryanvh">
        Buy me a 🍵
      </HeaderLink>
      <a href="https://twitter.com/astrodotbuild" target="_blank"> </a>
      <a href="https://github.com/withastro/astro" target="_blank"> </a>
    </div>
  </nav>
</header>
